<!DOCTYPE html>
<html>
<head>
  <title>weblog.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !current_user.nil? %>
  <div class='container'>
    <div class='col-md-offset-1 col-md-10'>
      <%= react_component('NavBar', authenticityToken: form_authenticity_token) %>
    </div>
  </div>
  <% end %>

  <% if !flash[:alert].blank? %>
  <div class='container'>
    <div class='col-md-offset-1 col-md-10'>
      <%= react_component('FlashMessages', errors: [flash[:alert].to_s]) %>
    </div>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
